<html>
    <head>
        <title>Live Chat</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        {% block head%}

        {% endblock %}
    </head>
    
    <body>
        <div style="text-align: center;color: darkmagenta;font-weight: 500;font-size: xx-large;"><h1>Live Chat</h1></div>

        {% block content %}

        {% endblock %}
    </body>
</html>